@model MVC_Identity_Movie.Models.Movie

@{
    ViewData["Title"] = $"{Model.Title} Details";
}

<h1>Movie Details</h1>
    <hr />
<div class="card mb-3" style="max-width: 900px;">
    <div class="row g-0">
        <div class="col-md-4">
                @{
                DateOnly releaseDate = Model.ReleaseDate != DateTime.MinValue ? DateOnly.FromDateTime(Model.ReleaseDate) : default;
                   var base64 = Model.File != null ? Convert.ToBase64String(Model.File) : "";
                   var imageSrc = $"data:image/jpeg;base64,{base64}";
                }
                <img id="moviePoster" src="@imageSrc" alt="Poster" class="img-fluid rounded-start" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title text-center">@Model.Title</h5>
                <p class="card-text"><small class="text-muted">Description:</small><br /> @Model.Description</p>               
                <p class="card-text"><small class="text-muted">Release date:</small><br /> @releaseDate</p>
                <p class="card-text"><small class="text-muted">Genre:</small><br /> @Model.Genre</p>
                <p class="card-text"><small class="text-muted">Director:</small><br /> @Model.Director</p>
                <p class="card-text"><small class="text-muted">Rating:</small><br /> @Model.Rating</p>
                <div class="text-center">
                    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary" style="width: 80px;">Edit</a>
                    <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-danger" style="width: 80px;">Delete</a>
                </div>
            </div>

            </div>       
            <div class="card-footer text-center">
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
    </div>
</div>

